doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/globel.css")
    link(rel="stylesheet", href="/styles/products.css")
    title= `Product - ${product.id}`
  body 
    .container
      h1.title= `Product - ${product.title}`
      div.card
          h3= product.title
          p= product.desc
          span= product.price
          a(href='/products').btn Back 
